<!DOCTYPE html>
<form action="/message" method="post">
  <input type="text" name="message" id="message" />
  <select name="lang">
    <option value="hu">Hungarian</option>
    <option value="es">Spanish</option>
    <option value="en">English</option>
    <option value="de">German</option>
  </select>
  <br>
  <input type="radio" name="direction" value="success">Up
  <input type="radio" name="direction" value="failure">Down
  <br>
  <input type="submit" value="Üzenj" />
</form>

